/* Overall Body */
body {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Inter', -apple-system-body,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    font-weight: 400;
    margin: 0;
    background-color: #FFFFFF;
    font-size: 1em;
    line-height: 1.4;
}

a {
    text-decoration: none;    
    color: #4C6EBB;
}
a:hover{
    text-decoration: underline;
}

/* For Header */
#header {
    text-align: center;
}
h1 a {
    color: #4C6EBB;
    /*font-style: italic;*/
    /*font-size: 0.9em;*/
    font-weight: 700;
    
}

li a {
    font-size: 0.9em;
    /*font-weight: 700;*/
}

#my-email {
    font-size: 0.9em;
}

/* For Body */
#body {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
div {
    border: none;
    border-color: red;
}

/* For Sidebar */
#sidebar {
    display: inline-block;
    /* display: flex; */
    max-width: 200px;
    padding: 16px;
    padding-top: 40px;
    margin: auto;
    text-align: left;
    /* text-align: center; */
    vertical-align: top
}

#sidebar img {
    display: block;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    margin-left: 20px;
    border: solid;
    border-color: #E5EAEC;
}

#sidebar h4 {
    margin-bottom: 0.2em;
}

#sidebar-description {
    font-size: 0.9em;
}

.sidebar-icon {
    margin: 4px 0;
}

#sidebar-img {
    display: block;
}

#sidebar-stuff {
    display: block;
}

/* For Main Contents */
#contents {
    display: inline-block;
    max-width: 700px;
    padding: 16px;
    text-align: left;
}

.content-item {
    margin-bottom: 36px;
}

ul {
    margin-top:  5px;
    line-height: 1.6;
    padding-left: 20px;
}
hr {
    border-color: #E5EAEC;
}
h2 {
    margin-bottom: 10px;
}
h3 {
    margin-bottom: 10px;
}



.content-content h4 {
    margin-top: 10px;
    margin-bottom: 0;
}
.content-content {
    font-size: 1em;
}
.education-years {
    color: #444444;
    font-size: 0.9em;
}

/* For Footer */
#footer {
    /*border-top: solid;*/
    border-top-width: 1px;
    border-top-color: #A97A57;
    background-color: #CED2D4;

    padding: 16px;
}
#footer-text {
    text-align: center;
    font-size: 0.8em;
    color: #56483B;
}

/* Birch Colors */
/* #EFD0B5 */
/* #F6DEC0 */
/* #FFEBD0 */

/* Woody Colors */
/* #A97A57	 */
/* #9A5938	 */
/* #BFB2A1	 */
/* #A7967B	 */
/* #56483B	 */

/* Stanford */
/* Digital Red: 896fa7 */
/* #8C1515 */
/* #B83A4B */
/* #820000 */
